<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/local/css/style.css' />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h1><%= title %></h1>
	<h3>Welcome, <%= user %></h3>
	<a href="/logout">Logout</a>
	<% for(var i=(projects.length-1); i>=0; i--) { %>
	<div>
		<a href="/document?id=<%=projects[i].id %>">Project ID: <%= projects[i].id %></a>
		<div>Collaborators: <%= projects[i].collaborators %></div>

		<div>Title: <%= projects[i].title%></div> 
	</div> 
	<% } %>
	<div id="addProjectForm">
		<form  action="/addProject" method="post">
			<div>
				<input type="text" class="form-control" placeholder="Title" name="title"/>
			</div>
			<div>
				<input type="text" class="form-control" placeholder="Collaborators (Seperated by commas)" name="collaborators"/>
			</div>
			<div>
					<input type="submit" class="btn btn-success pull-right" value="Add Project"/>
				</div>
		</form>
	</div>
</body>
</html>
